p{
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
  padding: 0;
}

h2{
  margin: 0;
  padding: 0;
}

h3{
  margin: 0;
  padding: 0;
}

input[type="submit"]{
  border: none;
  
}

input.club_bcorazones {
  background: #e1005a;
}

input.alerts_mala {
  background: #4a5d5b;
}

body {
  background-color: #f7f7f7;
  margin:auto;
  /*width: 800px;*/
}

a{
  text-decoration: none;
}

.block-service {
  background-color: #ffffff;
  display: block;
  float: left;
  margin: 0 0.5% 0.1% 0.5%;
  color: #000000;
}

.block-service img{
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  /*height: 80%;
  width: 100%;*/
}

.block-service h3{
  /*height: 10%;
  width: 100%;*/
}
 
.block-service p{
  /*height: 10%;
  width: 100%;*/
}

.block-service:hover{
  border-left : 1px solid #f7f7f7;
  border-top : 1px solid #f7f7f7;
  /*background-color: #eeeeee;*/
  /*color: #cccccc;*/
}
